:root {
    --height-header: 16vh;
    --height-nav-header: 25px;
    --width-web: 1280px;
    --boder-main: #eaeaea;
    --width-dot: 15px;
    --shadow: 0 2px 5px 0 rgb(51 62 73 / 10%);
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    color:#333;
    /*overflow:hidden;*/
}
body::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration:none;
    color:#333;
}
html {
    color: #333;
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}
#header {
    position:fixed;
    width: 100vw;
    height: var(--height-header);
    /*box-shadow: 0px 0px 16px gray;*/
    background-color:white;
    z-index:10;
}
.header-container {
    max-width: var(--width-web);
    /*background-color:aliceblue;*/
    margin: 0 auto;
    background-image: linear-gradient(to bottom right,aliceblue,blue,red);
}
.navbar-wrapper {
    display: flex;
    height:var(--height-nav-header);
    justify-content:space-between;
}
.navbar-wrapper_contact a,
.navbar-wrapper_contact-link span {
    font-size: 12px;
    font-weight:700;
}
.navbar-wrapper_contact-link,
.navbar-wrapper_contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-wrapper_contact-link {
    width: 100px;
    justify-content: space-evenly;
}
.navbar-wrapper_contact-home{
    border-right:1px solid #333;
    padding-right:10px;
}
.navbar-wrapper_notice-first,
.navbar-wrapper_notice {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-wrapper_notice span{
    font-size:12px;
}
.navbar-wrapper_notice img,
.contact-icon {
    width: 20px;
    height: 20px;
}
.navbar-account{
    padding:0 10px;
    font-weight:700;
}
.navbar-wrapper_spacer{
    width:500px;
}
.navbar-wrapper_notice-first a{
    padding-right:3px;
}
.navbar-wrapper_notice-spacer {
    height: 30px;
    width: 1px;
    background-color: #333;
    align-self: center;
}
.navbar-wrapper-noti{
    position:relative;
}
.navbar-wrapper-noti_num{
    position:absolute;
    display:flex;
    width:13px;
    height:13px;
    background-color:red;
    justify-content:center;
    align-items:center;
    top:0;
    right:0;
    border-radius:50%;
    color:white;
}
.navbar-account:hover,
.navbar-wrapper_contact-home a:hover,
.navbar-wrapper_notice-first a:hover {
    opacity: 0.5
}

.navbar-container{
    height:calc(var(--height-header) - var(--height-nav-header));
    /*background-color:aqua;*/
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.navbar-container_logo img{
    width:70px;
    height:auto;
}
.navbar-container_search {
    padding: 5px 10px;
    background-color: white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius:10px;
    position:relative;
}
.search_result {
    width: 100%;
    position: absolute;
    height: 200px;
    background-color: white;
    top: 38px;
    right: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display:none;
    box-shadow:var(--shadow)
}
.navbar-container_search-line {
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: #333;
    right: 13%;
}
.navbar-input_search {
    outline:none;
    padding: 10px 150px 10px 5px;
    margin-right:5px;
}
.navbar-container_user{
    position:relative;
}
.navbar-container_user img{
    width:40px;
    height:40px;
    border-radius:50%;
    background:red;
}
.navbar-container_user:hover .navbar-container_user-info{
    display:flex;
}
.navbar-container_user-info {
    position: absolute;
    background-image: linear-gradient(to bottom right,aliceblue,blue);
    width: 150px;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    box-shadow: 0 2px 5px 0 rgb(51 62 73 / 10%);
    border-radius: 5px;
    z-index: 1000;
}
.navbar-user_info-element{
    padding:5px;
    margin-bottom:10px;
    border:none;
    background-color:transparent;
    color:#333;
}
.navbar-user_info-element:hover{
    border-bottom:1px solid #333;
    background-image: linear-gradient(to bottom right,blue,#3f00ff0d);
}
.navbar-user_info-element:last-child{
    margin-bottom:0;
}
.navbar-container_search input:last-child{
    padding:5px;
    opacity:0.5;
}
.navbar-container_search input:last-child:hover{
    opacity:1;
}

/*container*/
#container {
    max-width: var(--width-web);
    width: 1280px;
    /*background-color:black;*/
    margin: 0 auto;
    /*margin-top:var(--height-header);*/
}
.container-intro {
    display: flex;
    justify-content: space-between;
    /*font-size:20px;*/
}
.container-intro_left,
.container-intro_right {
    margin-top: calc(var(--height-header) + 10px);
    width: 20%;
    background-color: white;
    border: 1px solid var(--boder-main);
    box-shadow: 0 2px 5px 0 rgb(51 62 73 / 10%);
}
.container-intro_mid {
    margin-top: calc(var(--height-header) + 10px);
    width: 59%;
    background-color: white;
    border: 1px solid var(--boder-main);
    box-shadow: 0 2px 5px 0 rgb(51 62 73 / 10%);
}
.left-title {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    align-items: center;
    padding: 20px 5px;
    border-bottom: 1px solid var(--boder-main);
    background-color:var(--boder-main);
}
.left-option {
    display: flex;
    position: relative;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid var(--boder-main);
    align-items:center;
    cursor:pointer;
}
.left-option input{
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    border: none;
    background-color: white;
}
.left-option i:first-child{
    margin-left:20px;
}
.left-option .fa-regular,
.left-option .fa-solid {
    position: absolute;
}
.fa-chevron-right {
    top: 30%;
    right: 10%;
    transition: 0.5s;
}
.left-title h3{
    margin-left:20px;
}
.left-option:hover .fa-chevron-right {
    right: 5%;
}
/*slider*/
.image-slider {
    position:relative;
    padding-bottom: 50px;
    height:545px;
}
.slider-dots {
    position: absolute;
    bottom: 3%;
    right: 50%;
    width: calc(var(--width-dot) * 3 + 10px);
    justify-content: space-between;
    display: flex;
}
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.image-item {
    position: absolute;
    width: 100%;
    display:none;
}
.image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}
.dots-element {
    width: var(--width-dot);
    height: var(--width-dot);
    border-radius: 50%;
    border: 2px solid #333;
    background-color: transparent;
}
.dots-element:hover {
    background-color: white;
}
.active-tab{
    display:block;
}
.slider-dots .active-tab {
    background-color: white;
}
.container-banner {
    background-image: url(https://hiimloser.github.io/Big-Maket/assets/Images/banner_home_img.jpg);
    width:var(--width-web);
    height:155px;
    margin:10px 0px;
    box-shadow:var(--shadow);
}
/*content */
.container-content{
    margin-top:20px;
    display:flex;
    flex-direction:column;
}
.isFashion .fashion-title,
.isFashion.fashion-wrapper::before {
    background-color: red;
}
isCosmetic .fashion-title,
isCosmetic.fashion-wrapper::before {
    background-color: yellow;
}
.fashion-wrapper {
    display: flex;
    font-size: 18px;
    border-top: 4px solid yellow;
    box-shadow: var(--boder-main);
    border: 1px solid #eaeaea;
    width: 100%;
    color: white;
    position: relative;
}
.fashion-wrapper::before{
    position:absolute;
    content:"";
    width:100%;
    height:10px;
    left:0;
    top:-10px;
}
.fashion-sidebar,
.fashion-groupPanel {
    display: flex;
    flex-direction: column;
}
.cosmetic-sidebar,
.fashion-sidebar {
    width: 25%;
    background-color: white;
}
.cosmetic-title,
.fashion-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-bottom: 1px solid var(--boder-main);
}
.cosmetic-title{
    background-color:yellow;
}
.cosmetic-title i,
.fashion-title i{
    color: white;
    font-size: 25px;
    padding: 10px;
    background-color: black;
    margin-right:10px;
}
.cosmetic-tab,
.fashion-tab {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid var(--boder-main);
    padding: 15px 0px;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.cosmetic-tab::before,
.fashion-tab::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background-color: aqua;
    display: none;
}
.cosmetic-tab-groups .active-tab-CO:before,
.fashion-tab-groups .active-tab-UI:before {
    display: block;
}
.cosmetic-tab i,
.fashion-tab i {
    margin-left: 10%;
    margin-right: 20px;
}
.cosmetic-groupPanel,
.fashion-groupPanel {
    width: 75%;
    position: relative;
    height: auto;
}
.cosmetic-panel,
.fashion-panel {
    width: 100%;
    position: absolute;
    display: none;
}
.fashion-tab-groups .active-tab-UI {
    background-color: red;
}

.fashion-groupPanel .active-tab-UI {
    display: contents;
}
.cosmetic-tab-groups .active-tab-CO {
    background-color: yellow;
}
.cosmetic-groupPanel .active-tab-CO {
    display: contents;
}
.GoToCart {
    top: 900px;
    padding: 10px;
    border-radius: 50%;
    background-color: red;
    font-size: 25px;
    cursor: pointer;
}
.img-product {
    height: 100px;
    width: auto;
    transition: transform 1s;
}
.img-product:hover{
    transform: scale(1.5);
}
.add_Cart {
    padding: 5px 10px;
    border: 1px solid #333;
    box-shadow:var(--shadow)
}
.add_Cart:hover{
    background-color:#333;
    color:white;
}
.isCosmetic{
    margin-top:50px;
}
.isCosmetic .fashion-title,
.isCosmetic.fashion-wrapper::before {
    background-color: yellow;
}
/*footer*/
#footer {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background-color: #000;
    bottom: 0;
}
/* <!-- footer_top start --> */
#footer_top {
  height: 70px;
  background-color: #353535;
  display: flex;
  justify-content: space-around;
}
#footer_top h4 {
  display: block;
  color: #fff;
}
#footer_top span {
  color: #fff;
}
.footer_top-content {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  border-right: 1px solid rgba(243, 241, 241, 0.356);
  flex-basis: 100%;
}
.footer_top-content span {
  font-size: 10px;
  color: rgba(245, 243, 243, 0.466);
}
#footer_top div:last-child {
  border-right: none;
}
.footer_top-content-name {
  padding: 10px;
  text-align: left;
}

#footer_top img {
  height: auto;
  align-self: center;
  margin: auto;
  padding: 0px 20px;
  border-right: 1px solid rgba(243, 241, 241, 0.356);
}
/* <!-- footer_top end --> */

/* <!-- footer_bottom start --> */
#footer_bottom {
  width: 70%;
  margin: 0 auto;
  height: 230px;
}
#footer_bottom-top h4 {
  color: #fff;
  margin-bottom: 20px;
}
#footer_bottom-top h4 {
  margin-top: 35px;
}
#footer_bottom-top {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  border-bottom: 1px solid rgba(243, 241, 241, 0.356);
  padding-bottom: 15px;
}
#footer_bottom-top a {
  font-size: 10px;
  color: rgba(245, 243, 243, 0.466);
}
#footer_bottom-top a:hover {
  color: #fff;
}
.footer-contact li {
  display: flex;
  padding: 4px;
}
.footer-contact li a {
  line-height: 25px;
  margin-right: 10px;
  display: block;
}
.footer-contact i {
  text-align: center;
  line-height: 25px;
  width: 30px;
  height: 25px;
  background-color: #424242;
  color: white;
  display: block;
}
/* <!-- footer_bottom start --> */
#footer_bottom-bottom {
  height: auto;
  display: flex;
  justify-content: space-between;
}
#footer_bottom-bottom a {
  color: rgba(245, 243, 243, 0.466);
}
#footer_bottom-bottom span {
  font-size: 13px;
  line-height: 100px;
  color: rgba(245, 243, 243, 0.466);
}
#footer_bottom-bottom div:last-child {
  align-self: end;
}